@page
@model NewEasyPeasy.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout2";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <p class="lead" style="font-family: Garamond, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: rgba(94, 16, 130, 255);">
                    <span style="font-size: 30px ; font-weight:bolder;">Easy Peasy</span> Learning Website is an innovative online platform dedicated to making education easy & enjoyable for kids. With user-friendly interfaces and engaging content, it simplifies learning for kids. From interactive lessons to comprehensive resources, Easy Peasy fosters a positive and effective learning environment, making education easy and fun !
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3">
                <img src="/images/students.jpg" alt="Image" class="img-fluid float-right">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card p-3">
                <h2 class="mb-3" style="font-family: Garamond, Tahoma, Geneva, Verdana, sans-serif; color: rgba(94, 16, 130, 255);">BY:</h2>
                <table class="table table-striped table-hover" style="font-family: Garamond, Tahoma, Geneva, Verdana, sans-serif;">
                    <thead style="background-color: rgba(50, 16, 110, 255); color: white;">
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ahmed Ibrahim</td>
                            <td>0127 853 9395</td>
                        </tr>
                        <tr>
                            <td>Tasneem Mohammed</td>
                            <td>0101 020 3073</td>
                        </tr>
                        <tr>
                            <td>Nada Mohammed</td>
                            <td>0100 890 8434</td>
                        </tr>
                        <tr>
                            <td>Farah Moustafa</td>
                            <td>0102 776 1201</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
