@page
@model NewEasyPeasy.Pages.PaymentModel
@{
    ViewData["Title"] = "Payment";
}
<h1 class="fw-bold text-center m-6">PAYMENT</h1>
<div class="container border mb-5 p-3">
    <div class="fw-bold text-center m-6 ">
        <h1 class="text-center font-weight-bold mb-4">Total:2000 </h1>
        <span id="total"></span>
    </div>
</div>